.navbar {
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.navbar-logout {
    border: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0;
    gap: 15px;

    background-color: transparent;
    cursor: pointer;
}

.navbar h2 {
    margin: 0;
}